<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      xmlns:tools="http://schemas.android.com/tools"
      package="com.bn.sample"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk
        android:minSdkVersion="5" />
    <!--<uses-sdk-->
        <!--tools:overrideLibrary="com.kizna.html"/>-->
    <!--android:theme="@android:style/Theme.NoTitleBar.Fullscreen"-->
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Sample1_1_Activity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".bookresult"
                    android:label="bookresult">

        </activity>
        <activity android:name=".searchbook"
            android:label="searchbook">
        </activity>
        <activity android:name=".bookitem"
            android:label="bookitem">

        </activity>
        <activity android:name=".lib.MyLib"
            android:label="mylib">

            </activity>
        <activity android:name=".jwxx.Jwxx"
            android:label="Jwxx">

            </activity>
        <activity android:name=".add.fleamarket">

            </activity>
        <activity android:name=".add.news">

            </activity>
        <activity android:name=".add.news_specificText">

            </activity>
        <activity android:name=".add.Two"></activity>

        <activity android:name=".add.job"></activity>
        <activity android:name=".add.job_specificText"></activity>
        <activity android:name=".add.job_announcement"></activity>

        <activity android:name=".add.grade"></activity>
        <activity android:name=".add.grade_login"></activity>
        <activity android:name=".add.others"></activity>
        <activity android:name=".add.academicReport"></activity>
        <activity android:name=".add.notice"></activity>
        <activity android:name=".add.academic_report_Result"></activity>
        <activity android:name=".add.notice_result"/>
        <activity android:name=".add.motto"/>
        <activity android:name=".add.song"/>
        <activity android:name=".add.corporation"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest> 